<hr/>
<br />
<br />
<!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2 id="about_me"><u>About me</u>:</h2>
      <p class="text-justify">
        Greetings, Thank you for viewing my website. This is V.Surya Teja Reddy, working as Operations Automation Engineer @ Tech Mahindra Ltd. I'm man of curiosity, always learning trends in technology especially Computers and programming. I'm also huge fan of history, learning
        how world has evolved breaking many barriers which were thought as impossible and I'm regular follower of quora and medium websites.
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-10 offset-md-1">
        <h2 id="awards"><u>Awards</u>:</h2>
        <i>Name of the Award: <a href="#">Digital Warrior</a></i>
        <blockquote>
            I would like to Thanks Surya for his innovative award and his dedication and hardworking. Though he was very much new to the environment , he has developed dashboard for the infrastructure operations which has not only helped during the day to day tasks but also a completely new idea of presenting things. Customer was very much delighted and happy to see such initiatives and which was pending years together to be accomplished. He showed his tremendous maturity and completed the activity in a stipulated time period and overall appreciated. Keep it up Surya
            <footer class="blockquote-footer">Nihar <cite title="Source Title">Project Manager</cite></footer>
        </blockquote>
    </div>
    <br />
    <div class="col-md-10 offset-md-1">
        <i>Name of the Award: <a href="#">Bravo</a></i>
        <blockquote>
          Surya have become one pillar of Automation and done some awesome job to save effort and improve delivery. He have taken responsibility to automate all decommission task which will speed up decommission and improve delivery.
          <footer class="blockquote-footer">Aftab <cite title="Source Title">Project Manager</cite></footer>
        </blockquote>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2 id="@techmahindra">@<u>Tech Mahindra</u>:</h2>
        <p>I am working as an Automation Engineer for the operations team. As the part the job, I automate the routine day to day jobs. Some of my projects include:</p>
        <ul>
          <li><i>IT Operations Dashboard</i></li>
          <p>The dashboard is used to represent the status of requests in different periods and is integrated with service now using API. It was developed in PHP, Code Ignitor(PHP Framework), Bootstrap and javascript.</p>
          <li><i>Automation of server decommission tasks</i></li>
          <p>There will be many common tasks generated whenever a server is decommissioned. Using Python as the base, I have automated these tasks workflow.</p>
          <li><i>Scripts for maintenance activities</i></li>
          <p>During maintenance activities, I have developed scripts (Mostly Shell, Python) to perform bulk operations.</p>
        </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2><u>Hobbies</u></h2>
      <ul>
        <li>Movies</li>
        <li>Music</li>
        <li>Trekking</li>
        <li>Marathon</li>
        <li>Writing Tech articles in medium</li>
      </ul>
    </div>
  </div>


<!-- </div> -->
