<div class="sticky-container">
    <ul class="sticky">
        <li>
            <i class="fa fa-github-alt fa-lg" style="color:black;" aria-hidden="true"></i>
            <p><a href="https://www.github.com/suryasr007" target="_blank">Github</a></p>
        </li>
        <li>
            <i class="fa fa-linkedin-square fa-lg" style="color:black;" aria-hidden="true"></i>            
            <p><a href="https://www.linkedin.com/in/suryasr007" target="_blank">Linkedin</a></p>
        </li>
        <li>
            <i class="fa fa-medium fa-lg" style="color:black;"  aria-hidden="true"></i>            
            <p><a href="https://medium.com/@suryasr007" target="_blank">Medium</a></p>
        </li>
    </ul>
</div>
