<header>
    <!-- <div class="container-fluid"> -->
        <div class="row">
            <div class="col-md-4 offset-md-4 col-8 offset-2">
                <figure>
                    <img src="https://res.cloudinary.com/dvygtdnpv/image/upload/c_scale,h_400,w_300/v1517248255/2017-03-14-19-28-19-464_tbljsh.jpg" alt="myPic" 
                    class="rounded mx-auto d-block img-fluid" />
                    <figcaption class="text-danger">
                        <br>
                      <h3 class="text-center">V.Surya Teja Reddy</h3>
                      <h4 class="text-center text-primary">@suryasr007</h4>
                    </figcaption>
                  </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <a href="#about_me"><button class="intro-buttons">About me</button></a>
                <a href="#projects"><button class="intro-buttons">Projects</button></a>                               
            </div>
        </div>   
    <!-- </div> -->
    
</header>