/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Roboto+Condensed|Playfair+Display+SC');
@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    font-size: 1.3em;
}
h3 {
    font-family: 'Black Ops One', cursive;
    color:rgb(169, 68, 66);
    font-size:24px;
}


h2{
    font-family: 'Playfair Display SC', serif;
}

